# Archivos compilados Java
*.class
*.jar
*.war
*.ear

# Carpetas de compilación
bin/
build/
dist/
target/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros
*.log
